#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

DEAD_CODE_STRIPPING = NO
ONLY_ACTIVE_ARCH = NO
ENABLE_TESTABILITY = NO
VALIDATE_WORKSPACE = YES
VALIDATE_PRODUCT = YES
DEVELOPMENT_TEAM = 2LPDHJ2TD4
CLANG_C_LANGUAGE_STANDARD = c11

ARCHS = $(ARCHS_STANDARD)
ONLY_ACTIVE_ARCH = NO
BUILD_LIBRARY_FOR_DISTRIBUTION = YES
DEAD_CODE_STRIPPING = NO
STRIP_INSTALLED_PRODUCT = NO
COPY_PHASE_STRIP = NO
STRIP_STYLE = debugging
DEPLOYMENT_POSTPROCESSING = NO
VALIDATE_PRODUCT = YES
SKIP_INSTALL = NO

SWIFT_VERSION = 5.0
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_EMIT_MODULE_INTERFACE = NO
